*{
    Font-family: 'Oswald', sans-serif;
    margin: 0PX;
    padding: 0PX;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: 100px;
    align-items: center;
}
#logo{
    width: 130px;

}
.listitem{
    display: inline-block;
    list-style: none;
    margin: 10px 20px 0px 10px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.links:hover{
    color: red;
}
.title{
    margin-left: 8%;
    margin-top: 13%;
}
.title h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.lastname{
    color: chocolate;
}
.download{
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px;
    display: inline-block;
    margin-top:30px ;
    border-radius: 5px;
}
.title-img{
    width: 45%;
    height: 80%;
    right: 30px;
    position: absolute;
    bottom: 0px;
    margin-top: -20px;
    

}
.title-img img{
    position: absolute;
    height: 80%;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 1s,left 2s;
}
.title-img:hover #shape{
    bottom: 70px;
}
.title-img:hover #girl{
    left: 40%;
}
#about{
    margin: 18% 8% 0px 8%;
}
.heading{
    text-align: center;
}
.heading2{
    font-size: 50px;
}
.heading span{
    font: size 40px;
    color: green;

}
.about-content
{display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;}
    .about-image{
        width: 80%;
        border-radius: 2rem;

    }
    .about-details{
        font-size: 13px;
        font-weight: 500px;
        text-align: justify;
    }
    .informations{
        margin-top: 2rem;
    }
    .info-box{
        align-items: center;
        display: flex;
    }



